/*
CAS222
File Name: navigation.css
Ace in the Hole
Nikki Elsensohn
*/

/* This file allows for the mobile hidden navigation menu expressed by the "hamburger" icon when viewed on smaller screens */

.mobile-nav ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    overflow: hidden;
}

.mobile-nav li {
    padding: 10px 0;
}

.mobile-nav li a {
    text-decoration: none;
    color: #333;
    padding: 10px 30px;
}
 
.mobile-nav li a:hover {
    background-color: #F4F4F4;
}

.mobile-nav li a:visited {
    color: #ff0000;
}

.mobile-nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height 1s ease-out;
}

.mobile-nav .menu-icon { 
    cursor: pointer;
    /*display: inline-block;*/
    float: right;
    padding: 28px 20px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}
 
.mobile-nav .menu-icon .navicon { 
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 30px;
    margin-top: 10px;
}
 
.mobile-nav .menu-icon .navicon:before {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.mobile-nav .menu-icon .navicon:after {
    background: #333;
    content: '';
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
 
.mobile-nav .menu-icon .navicon:before {
    top: 8px;
}
 
.mobile-nav .menu-icon .navicon:after {
    top: -8px;
}

.mobile-nav .menu-btn { 
    display: none;
}
 
.mobile-nav .menu-btn:checked ~ .menu {
    max-height: 240px;
}
 
.mobile-nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
 
.mobile-nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
 
.mobile-nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
 
.mobile-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .mobile-nav  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.logo {
    float: left;
    padding: 2%;
    margin-top: 20px;
}

/* TABLET and DESKTOP */

@media only screen and (min-width: 700px) {
    

.mobile-nav     .menu {
        float: right;
        margin: 0 0 10px 0;
        max-height: none;
    }


.mobile-nav ul {
        overflow: visible;
        margin-bottom: 0;
    }
  

.mobile-nav li {
        float: left;
    }
    

.mobile-nav li a {
        padding: 0 15px;
    }
  

.mobile-nav .menu-icon, .menu-btn {
        display: none;
    }

}
    





